workflows
{
    "name": "Medspa - A - Send Tally Rating Request",
    "flow": [
        {
            "id": 5,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9801450
            },
            "mapper": {
                "base": "appkYnYaiHImMH30o",
                "useColumnId": false,
                "table": "tbldEOnsUKVVDT4Qg",
                "formula": "AND({Status} = 'Completed', NOT({Review Sent}))",
                "maxRecords": "10"
            },
            "metadata": {
                "designer": {
                    "x": 49,
                    "y": -1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Avensa ",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Avensa CRM"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Client Review Requests"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "fields": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Client Name",
                        "label": "Client Name",
                        "type": "text"
                    },
                    {
                        "name": "Phone",
                        "label": "Phone",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Appointment Date",
                        "label": "Appointment Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "Review Sent",
                        "label": "Review Sent",
                        "type": "boolean"
                    },
                    {
                        "name": "Review Sent At",
                        "label": "Review Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Rating",
                        "label": "Rating",
                        "type": "number"
                    },
                    {
                        "name": "Comment",
                        "label": "Comment",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Rating Submitted At",
                        "label": "Rating Submitted At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Review Requested",
                        "label": "Review Requested",
                        "type": "boolean"
                    },
                    {
                        "name": "Google Review Link Sent At",
                        "label": "Google Review Link Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Service Provided",
                        "label": "Service Provided",
                        "type": "text"
                    },
                    {
                        "name": "Internal Notes",
                        "label": "Internal Notes",
                        "type": "text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "twilio:SendSMS",
            "version": 2,
            "metadata": {
                "designer": {
                    "x": 324,
                    "y": -2,
                    "messages": [
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Connection: Value must not be empty."
                        }
                    ]
                }
            }
        },
        {
            "id": 7,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "filter": null,
            "metadata": {
                "designer": {
                    "x": 650,
                    "y": -5,
                    "messages": [
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Connection: Value must not be empty."
                        }
                    ]
                }
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9801450
            },
            "mapper": {
                "base": "appkYnYaiHImMH30o",
                "typecast": false,
                "useColumnId": false,
                "table": "tbldEOnsUKVVDT4Qg",
                "id": "{{5.id}}",
                "record": {
                    "fldo8xjzuEuYatfK4": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 958,
                    "y": -8
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Avensa  (User ID: usrZLzhPaggHeXujU)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Avensa CRM"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Client Review Requests"
                        },
                        "record": {
                            "nested": {
                                "fld1RpMl4ACHDJ1iM": {
                                    "mode": "edit"
                                },
                                "fldo8xjzuEuYatfK4": {
                                    "mode": "chose"
                                },
                                "fldkJNxYpWLKzIcia": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldNpWyDti19NyO0V",
                                "type": "text",
                                "label": "Client Name"
                            },
                            {
                                "name": "fldaHXAOv4Imt224v",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "fldRk5aY4Hrj5QTyA",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldoxs8ZDuhmgvSQq",
                                "type": "date",
                                "label": "Appointment Date",
                                "time": false
                            },
                            {
                                "name": "fld1RpMl4ACHDJ1iM",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldo8xjzuEuYatfK4",
                                "type": "boolean",
                                "label": "Review Sent"
                            },
                            {
                                "name": "fld6yPWBsJ0pXT1UO",
                                "type": "date",
                                "label": "Review Sent At",
                                "time": true
                            },
                            {
                                "name": "fldZiWqtdV3ezSd8p",
                                "type": "number",
                                "label": "Rating"
                            },
                            {
                                "name": "fld4bnBJCyXIJk7JR",
                                "type": "text",
                                "label": "Comment"
                            },
                            {
                                "name": "fldrBREF0N4yhu1TX",
                                "type": "date",
                                "label": "Rating Submitted At",
                                "time": true
                            },
                            {
                                "name": "fldkJNxYpWLKzIcia",
                                "type": "boolean",
                                "label": "Review Requested"
                            },
                            {
                                "name": "fldyyLgaBsNewWqSq",
                                "type": "date",
                                "label": "Google Review Link Sent At",
                                "time": true
                            },
                            {
                                "name": "fldZw8V5e7YCAxLhN",
                                "type": "text",
                                "label": "Service Provided"
                            },
                            {
                                "name": "fldMdgFQHynfcPjTa",
                                "type": "text",
                                "label": "Internal Notes"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Client Name",
                        "label": "Client Name",
                        "type": "text"
                    },
                    {
                        "name": "Phone",
                        "label": "Phone",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Appointment Date",
                        "label": "Appointment Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "Review Sent",
                        "label": "Review Sent",
                        "type": "boolean"
                    },
                    {
                        "name": "Review Sent At",
                        "label": "Review Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Rating",
                        "label": "Rating",
                        "type": "number"
                    },
                    {
                        "name": "Comment",
                        "label": "Comment",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Rating Submitted At",
                        "label": "Rating Submitted At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Review Requested",
                        "label": "Review Requested",
                        "type": "boolean"
                    },
                    {
                        "name": "Google Review Link Sent At",
                        "label": "Google Review Link Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Service Provided",
                        "label": "Service Provided",
                        "type": "text"
                    },
                    {
                        "name": "Internal Notes",
                        "label": "Internal Notes",
                        "type": "text",
                        "multiline": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
