Workflows/02-Process-Review-Response
{
    "name": "Medspa A - 02 - Process Review Response",
    "flow": [
        {
            "id": 21,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2549639,
                "maxResults": 1
            },
            "filter": null,
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -534,
                    "y": 13
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Tally Webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "record_id",
                        "value": "{{21.data.fields[1].value}}"
                    },
                    {
                        "name": "rating",
                        "value": "{{21.data.fields[2].value}}"
                    },
                    {
                        "name": "comment",
                        "value": "{{21.data.fields[3].value}}"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": -251,
                    "y": 8
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "validate": {
                            "unique": {
                                "by": "name"
                            }
                        },
                        "spec": {
                            "type": "collection",
                            "label": "Variable",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Variable name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Variable value",
                                    "type": "any"
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "record_id",
                        "label": "record_id",
                        "type": "any"
                    },
                    {
                        "name": "rating",
                        "label": "rating",
                        "type": "any"
                    },
                    {
                        "name": "comment",
                        "label": "comment",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9801450
            },
            "filter": null,
            "mapper": {
                "base": "appkYnYaiHImMH30o",
                "typecast": false,
                "useColumnId": false,
                "table": "tbldEOnsUKVVDT4Qg",
                "id": "{{24.record_id}}",
                "record": {
                    "fldZiWqtdV3ezSd8p": "{{24.rating}}",
                    "fld4bnBJCyXIJk7JR": "{{24.comment}}",
                    "fldrBREF0N4yhu1TX": "{{21.data.createdAt}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 38,
                    "y": 1,
                    "name": "Update Rating + Comment"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Avensa  (User ID: usrZLzhPaggHeXujU)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Avensa CRM"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Client Review Requests"
                        },
                        "record": {
                            "nested": {
                                "fld1RpMl4ACHDJ1iM": {
                                    "mode": "edit"
                                },
                                "fldo8xjzuEuYatfK4": {
                                    "mode": "chose"
                                },
                                "fldkJNxYpWLKzIcia": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldNpWyDti19NyO0V",
                                "type": "text",
                                "label": "First Name"
                            },
                            {
                                "name": "fldpbQ8gwqqcruOsN",
                                "type": "text",
                                "label": "Last Name"
                            },
                            {
                                "name": "fldaHXAOv4Imt224v",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "fldRk5aY4Hrj5QTyA",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldoxs8ZDuhmgvSQq",
                                "type": "date",
                                "label": "Appointment Date",
                                "time": false
                            },
                            {
                                "name": "fld1RpMl4ACHDJ1iM",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldo8xjzuEuYatfK4",
                                "type": "boolean",
                                "label": "Review Sent"
                            },
                            {
                                "name": "fld6yPWBsJ0pXT1UO",
                                "type": "date",
                                "label": "Review Sent At",
                                "time": true
                            },
                            {
                                "name": "fldZiWqtdV3ezSd8p",
                                "type": "number",
                                "label": "Rating"
                            },
                            {
                                "name": "fld4bnBJCyXIJk7JR",
                                "type": "text",
                                "label": "Comment"
                            },
                            {
                                "name": "fldrBREF0N4yhu1TX",
                                "type": "date",
                                "label": "Rating Submitted At",
                                "time": true
                            },
                            {
                                "name": "fldkJNxYpWLKzIcia",
                                "type": "boolean",
                                "label": "Review Requested"
                            },
                            {
                                "name": "fldyyLgaBsNewWqSq",
                                "type": "date",
                                "label": "Google Review Link Sent At",
                                "time": true
                            },
                            {
                                "name": "fldZw8V5e7YCAxLhN",
                                "type": "text",
                                "label": "Service Provided"
                            },
                            {
                                "name": "fldMdgFQHynfcPjTa",
                                "type": "text",
                                "label": "Internal Notes"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "label": "First Name",
                        "type": "text"
                    },
                    {
                        "name": "Last Name",
                        "label": "Last Name",
                        "type": "text"
                    },
                    {
                        "name": "Phone",
                        "label": "Phone",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Appointment Date",
                        "label": "Appointment Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "Review Sent",
                        "label": "Review Sent",
                        "type": "boolean"
                    },
                    {
                        "name": "Review Sent At",
                        "label": "Review Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Rating",
                        "label": "Rating",
                        "type": "number"
                    },
                    {
                        "name": "Comment",
                        "label": "Comment",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Rating Submitted At",
                        "label": "Rating Submitted At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Review Requested",
                        "label": "Review Requested",
                        "type": "boolean"
                    },
                    {
                        "name": "Google Review Link Sent At",
                        "label": "Google Review Link Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "Service Provided",
                        "label": "Service Provided",
                        "type": "text"
                    },
                    {
                        "name": "Internal Notes",
                        "label": "Internal Notes",
                        "type": "text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 29,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9801450
            },
            "mapper": {
                "id": "{{24.record_id}}",
                "base": "appkYnYaiHImMH30o",
                "table": "tbldEOnsUKVVDT4Qg",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 338,
                    "y": 1,
                    "name": "Search Client Data"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Avensa CRM"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Client Review Requests"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Avensa  (User ID: usrZLzhPaggHeXujU)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Appointment Date",
                        "time": false,
                        "type": "date",
                        "label": "Appointment Date"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Review Sent",
                        "type": "boolean",
                        "label": "Review Sent"
                    },
                    {
                        "name": "Review Sent At",
                        "time": true,
                        "type": "date",
                        "label": "Review Sent At"
                    },
                    {
                        "name": "Rating",
                        "type": "number",
                        "label": "Rating"
                    },
                    {
                        "name": "Comment",
                        "type": "text",
                        "label": "Comment",
                        "multiline": true
                    },
                    {
                        "name": "Rating Submitted At",
                        "time": true,
                        "type": "date",
                        "label": "Rating Submitted At"
                    },
                    {
                        "name": "Review Requested",
                        "type": "boolean",
                        "label": "Review Requested"
                    },
                    {
                        "name": "Google Review Link Sent At",
                        "time": true,
                        "type": "date",
                        "label": "Google Review Link Sent At"
                    },
                    {
                        "name": "Service Provided",
                        "type": "text",
                        "label": "Service Provided"
                    },
                    {
                        "name": "Internal Notes",
                        "type": "text",
                        "label": "Internal Notes",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Route by Rating (1-3 vs 4-5)"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9801697
                            },
                            "filter": {
                                "name": "Positive Feedback",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{24.rating}}",
                                            "b": "4",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{24.rating}}",
                                            "b": "5",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "+ 18777804236",
                                "body": "Hi {{29.`First Name`}}! So glad you loved your visit 🎉 Would you mind sharing a quick Google review? It really helps our small business.\n\nhttps://search.google.com/local/writereview?placeid=ChIJ5462EDIRrjsRjyOU54xPia4\n\nThank you!\n- The Avensa Health Team",
                                "from": "+19452850746",
                                "fromType": "phone",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -167,
                                    "name": "Send Google Review Link"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose",
                                            "label": "(945) 285-0746"
                                        },
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "phone number"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Phone number",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9801882
                            },
                            "mapper": {
                                "to": [
                                    "{{29.Email}}"
                                ],
                                "content": "<p>Hi {{first_name}},</p>\n\n<p>Thank you for choosing Avensa Health — we're thrilled you had a great experience with us!</p>\n\n<p>If you have 30 seconds, we'd be so grateful if you could share your experience on Google. It genuinely helps other people discover us.</p>\n\n<p><a href=\"https://search.google.com/local/writereview?placeid=ChIJ5462EDIRrjsRjyOU54xPia4\">Leave a Google Review →</a></p>\n\n<p>Thank you for trusting us with your care. We can't wait to see you again!</p>\n\n<p>Warmly,<br>\nThe Avensa Health Team</p>",
                                "subject": "We're so glad you loved your visit, {{29.`First Name`}}! ✨",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1191,
                                    "y": -166,
                                    "name": "Send Google Review Email"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "Avensa Health (kittara.co@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9801450
                            },
                            "mapper": {
                                "id": "{{24.record_id}}",
                                "base": "appkYnYaiHImMH30o",
                                "table": "tbldEOnsUKVVDT4Qg",
                                "record": {
                                    "fldkJNxYpWLKzIcia": true
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1478,
                                    "y": -165,
                                    "name": "Mark Positive Review Sent"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Avensa CRM"
                                        },
                                        "table": {
                                            "label": "Client Review Requests"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld1RpMl4ACHDJ1iM": {
                                                    "mode": "edit"
                                                },
                                                "fldkJNxYpWLKzIcia": {
                                                    "mode": "chose"
                                                },
                                                "fldo8xjzuEuYatfK4": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Avensa  (User ID: usrZLzhPaggHeXujU)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldNpWyDti19NyO0V",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldpbQ8gwqqcruOsN",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fldaHXAOv4Imt224v",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fldRk5aY4Hrj5QTyA",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldoxs8ZDuhmgvSQq",
                                                "time": false,
                                                "type": "date",
                                                "label": "Appointment Date"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld1RpMl4ACHDJ1iM",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldo8xjzuEuYatfK4",
                                                "type": "boolean",
                                                "label": "Review Sent"
                                            },
                                            {
                                                "name": "fld6yPWBsJ0pXT1UO",
                                                "time": true,
                                                "type": "date",
                                                "label": "Review Sent At"
                                            },
                                            {
                                                "name": "fldZiWqtdV3ezSd8p",
                                                "type": "number",
                                                "label": "Rating"
                                            },
                                            {
                                                "name": "fld4bnBJCyXIJk7JR",
                                                "type": "text",
                                                "label": "Comment"
                                            },
                                            {
                                                "name": "fldrBREF0N4yhu1TX",
                                                "time": true,
                                                "type": "date",
                                                "label": "Rating Submitted At"
                                            },
                                            {
                                                "name": "fldkJNxYpWLKzIcia",
                                                "type": "boolean",
                                                "label": "Review Requested"
                                            },
                                            {
                                                "name": "fldyyLgaBsNewWqSq",
                                                "time": true,
                                                "type": "date",
                                                "label": "Google Review Link Sent At"
                                            },
                                            {
                                                "name": "fldZw8V5e7YCAxLhN",
                                                "type": "text",
                                                "label": "Service Provided"
                                            },
                                            {
                                                "name": "fldMdgFQHynfcPjTa",
                                                "type": "text",
                                                "label": "Internal Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Appointment Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Appointment Date"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Review Sent",
                                        "type": "boolean",
                                        "label": "Review Sent"
                                    },
                                    {
                                        "name": "Review Sent At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Review Sent At"
                                    },
                                    {
                                        "name": "Rating",
                                        "type": "number",
                                        "label": "Rating"
                                    },
                                    {
                                        "name": "Comment",
                                        "type": "text",
                                        "label": "Comment",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Rating Submitted At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Rating Submitted At"
                                    },
                                    {
                                        "name": "Review Requested",
                                        "type": "boolean",
                                        "label": "Review Requested"
                                    },
                                    {
                                        "name": "Google Review Link Sent At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Google Review Link Sent At"
                                    },
                                    {
                                        "name": "Service Provided",
                                        "type": "text",
                                        "label": "Service Provided"
                                    },
                                    {
                                        "name": "Internal Notes",
                                        "type": "text",
                                        "label": "Internal Notes",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9801697
                            },
                            "filter": {
                                "name": "Negative Feedback",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{24.rating}}",
                                            "b": "1",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{24.rating}}",
                                            "b": "2",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{24.rating}}",
                                            "b": "3",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "+1 8777804236",
                                "body": "Thanks for letting us know, {{29.`First Name`}}. We'd love the chance to make this right. A team member will follow up with you personally shortly.\n\n- The Avensa Health Team",
                                "from": "+19452850746",
                                "fromType": "phone",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150,
                                    "name": "Send Service Recovery SMS"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose",
                                            "label": "(945) 285-0746"
                                        },
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "phone number"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Phone number",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9803061
                            },
                            "mapper": {
                                "channelWType": "list",
                                "text": "⚠️ *Negative feedback received*\n\n*Client:* {{29.`First Name`}}{{29.`Last Name`}}\n*Rating:* {{29.Rating}}/5\n*Comment:* {{29.Comment}}\n*Record ID:* {{29.id}}\n\nPlease follow up personally today.",
                                "parse": false,
                                "mrkdwn": true,
                                "channelType": "public",
                                "channel": "C0BFZ6B3WNQ"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1190,
                                    "y": 151,
                                    "name": "Alert Staff - Negative Feedback"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Avensa Slack (avensa-group.slack.com - avensa.health)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "client-alerts"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9801450
                            },
                            "mapper": {
                                "id": "{{29.id}}",
                                "base": "appkYnYaiHImMH30o",
                                "table": "tbldEOnsUKVVDT4Qg",
                                "record": {
                                    "fldMdgFQHynfcPjTa": "🚨 Negative Review Detected"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1483,
                                    "y": 149,
                                    "name": "Mark Negative Feedback Logged"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Avensa CRM"
                                        },
                                        "table": {
                                            "label": "Client Review Requests"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld1RpMl4ACHDJ1iM": {
                                                    "mode": "edit"
                                                },
                                                "fldkJNxYpWLKzIcia": {
                                                    "mode": "chose"
                                                },
                                                "fldo8xjzuEuYatfK4": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Avensa  (User ID: usrZLzhPaggHeXujU)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldNpWyDti19NyO0V",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldpbQ8gwqqcruOsN",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fldaHXAOv4Imt224v",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fldRk5aY4Hrj5QTyA",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldoxs8ZDuhmgvSQq",
                                                "time": false,
                                                "type": "date",
                                                "label": "Appointment Date"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld1RpMl4ACHDJ1iM",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldo8xjzuEuYatfK4",
                                                "type": "boolean",
                                                "label": "Review Sent"
                                            },
                                            {
                                                "name": "fld6yPWBsJ0pXT1UO",
                                                "time": true,
                                                "type": "date",
                                                "label": "Review Sent At"
                                            },
                                            {
                                                "name": "fldZiWqtdV3ezSd8p",
                                                "type": "number",
                                                "label": "Rating"
                                            },
                                            {
                                                "name": "fld4bnBJCyXIJk7JR",
                                                "type": "text",
                                                "label": "Comment"
                                            },
                                            {
                                                "name": "fldrBREF0N4yhu1TX",
                                                "time": true,
                                                "type": "date",
                                                "label": "Rating Submitted At"
                                            },
                                            {
                                                "name": "fldkJNxYpWLKzIcia",
                                                "type": "boolean",
                                                "label": "Review Requested"
                                            },
                                            {
                                                "name": "fldyyLgaBsNewWqSq",
                                                "time": true,
                                                "type": "date",
                                                "label": "Google Review Link Sent At"
                                            },
                                            {
                                                "name": "fldZw8V5e7YCAxLhN",
                                                "type": "text",
                                                "label": "Service Provided"
                                            },
                                            {
                                                "name": "fldMdgFQHynfcPjTa",
                                                "type": "text",
                                                "label": "Internal Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Appointment Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Appointment Date"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Review Sent",
                                        "type": "boolean",
                                        "label": "Review Sent"
                                    },
                                    {
                                        "name": "Review Sent At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Review Sent At"
                                    },
                                    {
                                        "name": "Rating",
                                        "type": "number",
                                        "label": "Rating"
                                    },
                                    {
                                        "name": "Comment",
                                        "type": "text",
                                        "label": "Comment",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Rating Submitted At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Rating Submitted At"
                                    },
                                    {
                                        "name": "Review Requested",
                                        "type": "boolean",
                                        "label": "Review Requested"
                                    },
                                    {
                                        "name": "Google Review Link Sent At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Google Review Link Sent At"
                                    },
                                    {
                                        "name": "Service Provided",
                                        "type": "text",
                                        "label": "Service Provided"
                                    },
                                    {
                                        "name": "Internal Notes",
                                        "type": "text",
                                        "label": "Internal Notes",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
